@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Box sizing rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


body {
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    background: black;
}

.page-wrap{
    width: 1000px;
    margin: 0 auto;
}

header{
    background-image: url(images/pexels-philippe-donn-1169754.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 600px;
}
.nav{
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

span{
    font-size: 22px;
    font-weight: bold;
}

.nav ul{
    list-style-type: none;
    display: flex;
    gap: 15px;

}

.nav a {
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
}

.hero-container{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-container img{
    max-width: 25%;
    border: 2px solid whitesmoke;
    border-radius: 10%;
    

}

.hero-container div{
    /* border: 2px solid limegreen; */
    width: 50%;
}

.hero-container h1 {
    font-size: 48px;
}

.hero-container p{
    font-size: 24px;
}

.hero-container button {
    margin-top: 12px;
    padding: 12px 35px;
    font-size: 18px;
    border-radius: 10px;
    background: rgb(56, 56, 217);
    color: whitesmoke;
    border: none;
}

.information {
    border: 2px solid limegreen;
    height: 500px;
    background-color: whitesmoke;
    color: black;
}

.information h2{
    font-size: 38px;
    text-align: center;
}

.information-box img{
    max-width: 100px;
    max-height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}